* {
    font-weight: normal;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, Helvetica Neue, monospace;, sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    background: white;
    color: #444;
    line-height: 1.4;
    font-weight: 300;
}

hr {
    width: 100px;
    height: 1px;
    margin: 2rem 0;
    background: #aaa;
    border: 0;
}

h1 {
    /*margin-left: 2em;
    margin-top: 2em;*/
    font-size: 1rem;
    color: #666;
    /*font-weight: normal;*/
    /*margin-bottom: 2rem;*/
}

h2 {
    /*margin-left: 2em;
    margin-top: 2em;*/
    font-size: 1rem;
    color: #aaa;
    /*font-weight: normal;*/
}

*:focus {
    outline: none;
}

::selection {
   background: black;
   color: white;
}
::-moz-selection {
   background: black;
   color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 0.4rem;
}

a {
    text-decoration: underline;
    color: blue;
}
